@using Getmeajob.Model
@model ResumeM

@{
    ViewData["Title"] = "Resume Details Page";
}

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image pt-5" style="background-image: url('images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row pt-3 pb-0">
            <div class="col-md-9">
            </div>
            <div class="col-md-3">
                <div class="custom-breadcrumbs">
                    <a href="#">Home</a> <span class="mx-2 slash">»</span>
                    <a href="#">Resume</a> <span class="mx-2 slash">»</span>
                    <span class="text-white"><strong>Details</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section pt-0">
    <div class="container">

        <div class="row align-items-center mb-5">
            <div class="col-lg-12 mb-2 mb-lg-0">
                <div class="d-flex align-items-center">
                    <div>
                        <h2 class="font-weight-bold mb-2">Resume Details</h2>
                        <h4 class="font-weight-bold">
                            @if (@Model != null && @Model.jobseeker != null)
                            {
                                @Model.user?.FullName<span>,</span> 
                                @Model.JobTitle
                            }
                        </h4>
                    </div>
                </div>
            </div>

        </div>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="text-right font-italic">
                        Name:
                    </td>
                    <td>
                        @Model.user.FullName
                    </td>
                </tr>
                <tr>
                    <td class="text-right font-italic">
                        Address:
                    </td>
                    <td>
                        @Model.jobseeker.StreetAddress , <br />
                        @Model.jobseeker.City , @Model.jobseeker.State <br />
                        , @Model.jobseeker.Zip , @Model.jobseeker.Country
                    </td>
                </tr>
                <tr>
                    <td class="text-right font-italic">
                        Email:
                    </td>
                    <td>
                        @Model.user?.Email
                    </td>
                </tr>
                <tr>
                    <td class="text-right font-italic">
                        Job title:
                    </td>
                    <td>
                        @Model.JobTitle
                    </td>
                </tr>
                <tr>
                    <td class="text-right font-italic">
                        Resume:
                    </td>
                    <td>
                         <span style="white-space: pre-line">@Model.Resume</span>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        Salary range:
                    </td>
                    <td>
                        @Model.LowerBound - @Model.UpperBound  @if (@Model.Currency == "Other")
                        {
                            @Model.OtherCurrency
                        }
                        else
                        {
                            @Model.Currency
                        }
                    </td>
                </tr>

            </tbody>
        </table>



        <div class="row align-items-center mb-5">

            <div class="col-lg-5 ml-auto">
                <div class="row ">

                    <div class="col-12 ">
                        <input type="hidden" asp-for="@Model.user.FullName" />
                        <input type="hidden" asp-for="@Model.user.Email" />
                        <input type="hidden" asp-for="@Model.user.Password" />
                        <input type="hidden" asp-for="@Model.jobseeker.StreetAddress" />
                        <input type="hidden" asp-for="@Model.jobseeker.City" />
                        <input type="hidden" asp-for="@Model.jobseeker.State" />
                        <input type="hidden" asp-for="@Model.jobseeker.Zip" />
                        <input type="hidden" asp-for="@Model.jobseeker.Country" />
                        <input type="hidden" asp-for="@Model.jobseeker.Telephone" />
                        <input type="hidden" asp-for="@Model.jobseeker.Fax" />

                        <input type="hidden" asp-for="@Model.JobTitle" />
                        <input type="hidden" asp-for="@Model.Resume" />
                        <input type="hidden" asp-for="@Model.LowerBound" />
                        <input type="hidden" asp-for="@Model.UpperBound" />
                        <input type="hidden" asp-for="@Model.Currency" />

                        <a href="mailto:?subject=@Model.JobTitle&body=https://localhost:7035/Resume/Details/@Model.ResumeId">Email Resume to Yourself or Refer This Resume »</a>  <br />
                        <a asp-action="Contact" asp-controller="Home" asp-route-stype="Candidate" asp-route-id="@Model.ResumeId">Contact Candidate »</a>
                    </div>
                </div>
            </div>
        </div>


    </div>


</section>